<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="Set Overcoming hurdles in the way of success via Online scheduled Test Session. Best Online Test Practices">
    <meta name="description" content="Meta_description">
    <meta name="keywords" content="fpsc, mdcat, nts, gat, nat, ecat, nums, etea, css">
    <meta name="keywords" content="Meta_keywords">
    <meta name="author" content="Hazir4Test">
    <meta name="author" content="Meta_author">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!--Facebook SEO Meta Tags -->
    <meta property="og:title" content="Hazir Ha Test | Hazir4Test.com" />
    <meta property="og:description" content="Overcoming hurdles in the way of success via Online scheduled Test Session. Best Online Test Practices	" />
    <meta property="og:url" />
    <meta property="og:image" />
    <meta property="og:type" content="website" />
    <!--Twitter SEO Meta Tags-->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="Hazir Ha Test | Hazir4Test.com" />
    <meta name="twitter:creator" content="Hazir4Test" />

    <!--Icon Favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="~/Images/System/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/Images/System/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/Images/System/icons/favicon-16x16.png">
    <!--End-->

        <title>BijiliBacho - Login Area</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/Content/Login/style.css">
    @*<link rel="stylesheet" href="~/Content/LearnUp/assets/css/styles.css">*@
    <script src="~/Content/Login/jquery.min.js"></script>

    <style>
        .text-wrap {
            background: linear-gradient(135deg, #0558a6 0%, #0558A6 100%) !important;
        }

        .bg-gray {
            background-color: #ececec !important;
        }

        .required:after {
            content: " *";
            color: red;
            font-size: initial;
        }
    </style>
</head>
<body class="bg-gray">
    <section class="ftco-section">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <script src="~/Content/Login/popper.min.js"></script>

    <script src="~/Content/Login/bootstrap.min.js"></script>

</body>
</html>